h3 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family:  Verdana, sans-serif;
}

i {
    font-family:  Calibri,  sans-serif;
}

b {
    font-family: Arial, Helvetica, sans-serif;
}

strong, em, u {
    font-family: 'Arial Narrow Bold', sans-serif;
}