body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    margin: 10px;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    background-color: #f4f4f4;
    padding: 10px;
}

.box {
    background-color: #ddd;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

@media (min-width: 600px) and (max-width: 1199px) {
    .container {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    h1 {
        font-size: 1.7em;
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media (max-width: 599px) {
    .container {
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    h1 {
        font-size: 1.3em;
    }

    footer {
        font-size: 0.8em;
    }
}